####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
 
checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=false
offline=false
log.level=debug
#projectPerFolder=true
  
#wss.connectionTimeoutMinutes=60
#Change the below URL to your WhiteSource server
#wss.url=[https://your-server.whitesourcesoftware.com/agent]
#E.g., wss.url=https://saas.whitesourcesoftware.com/agent or wss.url=https://app.whitesourcesoftware.com/agent
wss.url=https://saas.whitesourcesoftware.com/agent
 
#npm.ignoreJavaScriptFiles=false
#npm.resolveDependencies=false
#npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
  
#bower.resolveDependencies=false
#bower.runPreStep=true
  
nuget.resolveDependencies=true
#nuget.restoreDependencies=true
  
#python.resolveDependencies=false
  
#maven.ignoredScopes=test provided
#maven.resolveDependencies=false
#maven.aggregateModules=false
 
#gradle.resolveDependencies = false
#gradle.runAssembleCommand = false
  
##################################
# Organization tokens:
##################################
apiKey=8fdc0de4-2390-4bcc-bd0c-b9c44aaaf11f
  
projectName=Demo
projectVersion=
projectToken=
  
productName=tar test
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com
   
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.rpm **/*.deb
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.c# **/*.jar **/*.tar.xz
#includes=**/*.tarxz
#
#includes=**/*.m **/*.mm  **/*.js **/*.php
includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
  
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
  
case.sensitive.glob=false
followSymbolicLinks=true
   
##################################
# Archive Properties
##################################
archiveExtractionDepth=7
archiveIncludes=**/*.war **/*.ear **/*.tar.xz
#archiveExcludes=**/*sources.jar
   
##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
   
##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
  
##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true
 
##################################
# SCAN MODE: Docker images
##################################
#docker.includes=.*.*
#docker.excludes=.*.*
#docker.scanImages=true